<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
  <h1>List of Recipes:</h1>  
  <%@recipes.each_with_index do |recipe, index|%>
    <a href="/recipes/<%=recipe.id%>">
        <li><%= recipe.name %></li>
    </a>
  <%end%>
</body>
</html>