<h1>Create a new recipe:</h1>

<form method="post" action="/recipes">
    <p><label for="recipe[name]">Dish name:</label>
    <input type="text" name="recipe[name]" id="name"></p>
    <p><label for="recipe[ingredients]">Ingredients:</label>
    <textarea name="recipe[ingredients]" id="ingredients"></textarea></p>
    <p><label for="recipe[cook_time]">Required cooking time:</label>
    <input type="text" name="recipe[cook_time]" id="cook_time"></p>
    <br>
    <input type="submit" value="Add Recipe">
</form>