<form action="/recipes" method="post">
    <textarea name="name" id="name" cols="30" rows="1">Recipe name: </textarea> 
    <textarea name="ingredients" id="ingredients" cols="30" rows="10">ingredients: </textarea> 
    <textarea name="cook_time" id="cook_time" cols="30" rows="1">Cook Time: </textarea> 
    <div>
        <input type="submit" value="submit">
    </div>
</form>