<form method="POST" action='/recipes'>
<label for='name'>Name: </label>
<input type ="text" name ="name" id="name">
<br>
<label for="ingredients">Ingredients: </label> 
<textarea name="ingredients" id="ingredients">Input ingredients here</textarea>
<br>
<label for='cook_time'>Cook time(mins): </label>
<input type ="text" name ="cook_time" id="cook_time">

<input type= 'submit'>


</form> 