<html>
<form action="/recipes" method="post">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="integer" name="cook_time">
  <input type="submit" id="submit" value="Submit">
</form>
</html>
